<h2 class="h1-responsive font-weight-bold text-center my-5"><i class="fas fa-users    "> </i> Usuários</h2>

    <button class="btn btn-outline-primary" routerLink="/users/new">Novo Usuário</button>

<div class="row">     
  
    <div *ngFor="let u of usuarios" class="col-md-3 animated fadeIn card-usuario">
      <!--Card-->
      <mdb-card>
  
        <!--Card image-->
        <div class="view
         view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img  src="/assets/avatar/user-profile-default.png"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>{{ u.nome }}</strong>
          </h4>
          <h5>{{ u.funcao }}</h5>
  
          <mdb-card-text>
            <b>{{ u.tipo }}</b> <br>
            {{ u.descricao }}
          </mdb-card-text>            
          
              <a type="button" class="btn-floating btn-small  waves-light" mdbWavesEffect>
                  <i class="fas fa-trash-alt"></i> 
               </a>  

        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->     
    
    </div>
  </div>