<div class="col-md-6 offset-md-3 animated bounce sessao-login">
  <form [formGroup]="formLogin" class="text-center border border-light p-5" (ngSubmit)="validarLogin()">

    <p class="h4 mb-4">Entre para aprender :)</p>
  
    <!-- Email -->
    <div class="form-group" [ngClass]="{'input-invalido': f.email.errors && f.email.touched }">
      <input type="email" formControlName="email" class="form-control" placeholder="E-mail">
      <div class="mb-4">
          <div *ngIf="f.email.invalid && (f.email.disty || f.email.touched)">
              <div *ngIf="f.email.errors.required" class="invalid-feedback">
                Campo e-mail é obrigatório.
              </div>
              <div *ngIf="f.email.errors.email" class="invalid-feedback">
                Preencha um e-mail válido.
              </div>
            </div>
      </div>
    </div>  
    <!-- Password -->
    <div class="form-group" [ngClass]="{'input-invalido': f.senha.errors && f.senha.touched }">
        <input type="password" formControlName="senha" class="form-control" placeholder="Senha">
        <div class="mb-4">
            <div *ngIf="f.senha.invalid && (f.senha.disty || f.senha.touched)">
                <div *ngIf="f.senha.errors.required" class="invalid-feedback">
                  Campo senha é obrigatório.
                </div>               
              </div>
        </div>
    </div>
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox #guardarSessao [default]="true">Guardar Sessão</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a routerLink="">Esqueceu a senha?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4">Entrar</button>  
  
  </form>
  </div>  